.coverButtons {
    margin: 0 2.5rem;
}
.background-content {
    height: 1rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 5rem;
    padding-top: 0rem;
  }
.home-container {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    padding-top: 6rem;
    width: 60%;
    margin: auto;
    text-align: center;
  }

  
  @media (min-width: 650px ) {
    .background {
        background-position: center;
    }
    
    .background-content {
        padding: 1rem;
    }
  }

  @media (max-width: 650px ) {
    .coverButtons {
        margin: 0 1rem;
    }
  
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: rgb(98, 89, 89);
  letter-spacing: .0175rem;
}
@media (max-width: 650px ) {
  h1, h4 {
      font-size: 1.25rem;
  }
  h4 {
    font-weight: 100;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  .home-container {
    width: 80%;
  }

}