.is-child {
    background-color: rgba(245, 245, 245, 0.705);
}

.subtitle {
    color: rgb(250, 194, 27);
    font-size: 1.5em;
}

@media (max-width: 650px ) {
    .is-ancestor {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: start;
    
    }
    .subtitle {
        font-size: 1em;
        flex-shrink: 1;
        flex-grow: 1;
    }
 
}

