.is-hoverable {
    display: flex;
}
.navbar-link {
    justify-content: center;
    color: rgb(213,116,102);
    width: 100%;
    background-color: rgba(194, 190, 187, 0.418);
    /* background-color: transparent; */
}

