h1, p {
    color: black;
}

.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
  }
  
  .background-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  @media (max-width: 650px ) {
    .background {
        background-position: center center;
        height: 100%;
    }
  
    .background-content {
        justify-content: center;
    }
  }

  