.card {
    background-color: rgba(245, 245, 245, 0.678);
}
.cardContainer {
    padding: 6rem 8rem 0rem;
    height: 100%;
}
.card-content{
   padding: .5rem;
}
p {
    color: black;
    font-weight: 500;
    font-size: .75em;
}
@media (max-width: 650px ) {
    .cardContainer {
        padding: 6rem 2rem 4rem;
    }    
  }
