h1, p {
    color: white;
}

.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
  }
  
  .background-content {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
  }
  
  @media (min-width: 650px ) {
    .background {
        background-position: center center;
    }
  
    .background-content {
        justify-content: center;
    }
  }

  